.ficha {
    width: var(--layout-width);
    margin: 30px auto 15px;
    font-size: 15px;
}
@media print {
    .ficha {
        margin-top: 15px;
    }
}
.ficha__header__linha-de-emblema {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ficha__titulo {
    font-size: 18px;
    font-weight: 700;
    margin-right: 40px;
}
.ficha__emblema {
    display: block;
    margin: auto;
}
.ficha__header__linha-de-prov-dis-us-mes {
    min-height: 21px;
}
.ficha__linha-de-prov-dis-us-mes__col {
    overflow: hidden;
    min-height: 20px;
}
.ficha__linha-de-prov-dis-us-mes__col:nth-child(n+2) {
    margin-left: 6px;
}
.ficha__body__seccao {
    margin-top: 5px;
}
.ficha__body__seccao--s1 {
    margin-top: 1.5px;
}
.ficha__seccao__titulo {
    text-align: center;
    min-height: 25px;
}
.ficha__seccao1__linha2 {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.ficha__seccao1__linha-de-faixas-etarias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px;
    text-align: center;
}
.ficha__seccao1__linha-de-us-bm-acs {
    display: grid;
    grid-template-columns: repeat(2, 24px 52px 24px 52px 32px 52px 16px) 1fr;
    grid-template-rows: 32px;
    align-items: center;
    padding-left: 5px;
    text-align: center;
}
.ficha__seccao__linha--gtc-2 {
    display: grid;
    grid-template-columns: 401px 1fr;
    grid-template-rows: 32px;
    text-align: center;
}
.ficha__seccao2-linha-us-bm-acs {
    display: grid;
    grid-template-columns: repeat(2, 24px 52px 16px) 32px 52px 16px 1fr;
    grid-template-rows: 26px;
    align-items: center;
    text-align: center;

}
.ficha__seccao__linha--gtc-7 {
    display: grid;
    grid-template-columns: 215px repeat(6, 114px);
    grid-template-rows: 26px;
    font-size: 13.5px;
}
.ficha__seccao__linha--gtc-7 div:first-child,
.ficha__seccao__linha--gtc-5 div:first-child {
    padding-left: 4px;
}
.ficha__seccao4__header {
    display: grid;
    grid-template-columns: 77px 1fr;
    text-align: center;
}
.ficha__seccao4__header {
    display: grid;
    grid-template-columns: 77px 1fr;
}
.ficha__seccao4__header__linha-sup {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.seccao4__header__linha-sup__col2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.ficha__seccao4__en {
    grid-column: 1/5;
}
.ficha__seccao4_op {
    grid-column: 5/7;
}
.ficha__seccao4_palestras {
    grid-column: 1/3;
}
.ficha__seccao4__dc {
    grid-column: 3/5;
}
.ficha__seccao4__header__linha-inf {
    display: grid;
    grid-template-columns: repeat(3, 66.7px) repeat(4, calc(207.33px / 2)) repeat(2, 103.66px);
    font-size: 13.5px;
}
.ficha__seccao__linha--gtc-9 {
    display: grid;
    grid-template-columns: 77px repeat(3, 66.7px) repeat(4, calc(207.33px / 2)) repeat(2, 103.66px);
    grid-template-rows: 32px;
    font-size: 13px;
}
.ficha__seccao__linha--gtc-5 {
    display: grid;
    grid-template-columns: 277px repeat(4, 155.25px);
    grid-template-rows: 26px;
    font-size: 13.5px;
}
.ficha__footer {
    margin-top: 5px;
    min-height: 22px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
#input-elaborado-por {
    width: 620px;
}
[data-total]:focus,
.input-nao-celular:focus,
.input-celular--focus:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
.--bg-default {
    background-color: var(--gray-c);
}
.celula-nao-aplicavel {
    background-color: var(--cor-de-borda);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais)
    }
}
@media screen {
    .ficha__linha--destacar {
        background-color: var(--orange);
        color: var(--cor-de-texto);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}